# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# Data (raw & large files)
data/raw/
data/processed/*.parquet
data/processed/*.csv

# Vector DB
vector_store/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
