# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# Data
data/raw/
data/processed/*.csv
data/processed/*.parquet

# Vector stores
vector_store/
data/*.index
data/*_metadata.csv

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
